<h3>
    Angular 2 Seed
</h3>
<nav>
    <div class="nav-wrapper blue">
        <div class="container">
            <a href="#" class="brand-logo left">SiteComAngular</a>
            <ul class="right">
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/']">
                        Home
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/contact']">
                        Contact Us
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/auth/login']">
                        Sign In
                    </a>
                </li>
                <li *ngIf="userExists()" [routerLinkActive]="['active']">
                    <a [routerLink]="['/auth/sign-up']">
                        Sign Up
                    </a>
                </li>
                <li *ngIf="userExists()">
                    <a>{{user.name}}</a>
                </li>
                <li *ngIf="userExists()">
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>


<footer>
    © 2017
</footer>
