<div class="container">
    <h3>Sig Up</h3>

    <div class="row">
        <p>
            messages
        </p>
        <form >
            <div class="form-content input-field col s12 m12">
                <input type="text" placeholder="Enter your name.">
                <input type="email" placeholder="Enter your email.">
                <input type="password" placeholder="Enter your password.">
                <button class="btn blue">Sign Up</button>
            </div>
        </form>

    </div>
</div>